<!DOCTYPE html>
<html>
    <head>
        <title>Crenshaw's Collection</title>
        <meta name="description" content = "This is a description of my web page">
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
        <body class="news">
            <header class="main-header-news">
                <nav class="nav-news nav main-nav">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/collections">COLLECTIONS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/music">MUSIC</a></li>
                        <li><a href="/news">NEWS</a></li>
                    </ul>
                </nav>
            </header>
            <section class="content">
                <p class="news-headliner divider">TODAY'S NEWS</p>
                <div>
                    <h1>Fresh from The Atlantic</h1>
                    <ul>
                        {% for title, link, published, summary in entries_atlantic %}
                            <p class="article-header"> <a href="{{ link }}"> {{ title }}</a> {{ published }} </p>
                            <p> {{ summary }}</p>
                        {% endfor %}
                    </ul>
                </div>
                <p class="news-headliner divider">SPORTS</p>
                <div>
                    <h1>SB Nation's Feed</h1>
                    <ul>
                        {% for title, link, published, summary in entries_sbnation %}
                            <p class="article-header"> <a href="{{ link }}"> {{ title }}</a> {{ published }} </p>
                            <p> {{ summary }}</p>
                        {% endfor %}
                    </ul>
                </div>
                <hr class="hr1">
                <h1>The Athletic</h1>
                <div class="split-section">
                    <div class="split left">
                        <h3>Cleveland</h3>
                        <ul>
                            {% for title, link, published, summary in entries_athletic_cle %}
                                <p class="article-header"> <a href="{{ link }}"> {{ title }}</a> {{ published }} </p>
                                <p> {{ summary }}</p>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="split right">
                        <h3>Chicago</h3>
                        <ul>
                            {% for title, link, published, summary in entries_athletic_chi %}
                                <p class="article-header"> <a href="{{ link }}"> {{ title }}</a> {{ published }} </p>
                                <p> {{ summary }}</p>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <p class="news-headliner divider">FOOD</p>
                <div>
                    <h1>Bon Appetit</h1>
                    <ul>
                        <div class="split-section">
                        {% for title, link, published, summary in entries_bon %}
                            <div class="split">
                            <div class="left2">
                                <h2><a href="{{ link }}">{{ title }}</a></h2>
                                <p><strong>Published:</strong> {{ published }}</p>
                            </div>
                            <div class="right2">
                                <p>{{ summary }}</p>
                            </div>
                            </div>
                        {% endfor %}
                        </div>
                    </ul>
                </div>
                <div class="news-headliner divider">MUSIC</div>
                <div>
                    <h1>Pitchfork Best New Albums</h1>
                    <ul>
                        <div class="split-section-music">
                        {% for title, link, published, summary, media_thumbnail in entries_pfrv %}
                        <div class="split2">
                            <img src= "{{ media_thumbnail.url }}" style="max-width:100%; max-height:100%;">
                            <p class="article-header ahmusic"> <a href="{{ link }}"> {{ title }}</a> </p>
                            <p class="smaller-text"> <strong> Published: </strong> {{ published }} </p>
                            <p class="smaller-text">{{ summary }}</p>
                        </div>
                        {% endfor %}
                        </div>
                    </ul>
                </div>
                <hr class="hr1">
                <div>
                    <h1>Pitchfork Best New Reissues</h1>
                    <ul>
                        <div class="split-section-music">
                        {% for title, link, published, summary, media_thumbnail in entries_pfri %}
                        <div class="split2">
                            <img src= "{{ media_thumbnail.url }}" style="max-width:100%; max-height:100%;">
                            <p class="article-header ahmusic"> <a href="{{ link }}"> {{ title }}</a> </p>
                            <p class="smaller-text"> <strong> Published: </strong> {{ published }} </p>
                            <p class="smaller-text">{{ summary }}</p>
                        </div>
                        {% endfor %}
                        </div>
                    </ul>
                </div>
            </section>
            <footer class="main-footer">
                <div class="main-footer-container">
                <h3 class="name"> Vincent Crenshaw</h3>
                    <ul class="nav footer-nav">
                        <li><a href="https://www.youtube.com/channel/UCOlS6fZAJpnx8MgbAGO1ONw" target="_blank">
                            <img src="/media/Images/Youtube Logo.png"
                            width = 50
                            height = 40
                        ></a>
                        </li>
                        <li><a href="https://open.spotify.com/collection/playlists" target="_blank">
                            <img src="/media/Images/Spotify.png"
                         width = 50
                         height = 50
                            ></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </body>
</html>

