<!DOCTYPE html>
<html>
    <head>
        <title>Crenshaw's Collection | About</title>
        <meta name="description" content = "This is a description of my web page">
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
        <body>
            <header class="main-header">
                <nav class="nav main-nav">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/collections">COLLECTIONS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/music">MUSIC</a></li>
                        <li><a href="/news">NEWS</a></li>
                    </ul>
                </nav>
                <h1 class="name name-large">Vincent Crenshaw</h1>
            </header>
            <section class = "content container">
                <h2 class = "section-header">ABOUT</h2>
                <img class="vinceyimage" src = "/media/Images/IMG_3426.jpeg"
                width="200" 
                height="250"/>
                <p>Hey, I'm a student currently at the University of Chicago studying Computer Science and History. I also love clothes and 
                    fashion in general, and thus I have this little website. The index tab just shows some clothing items/ accessories that 
                    I would want to purchace at some point in my life, regardless of my ability to afford it. Depending on how frequently I 
                    update it, it could be something of a wishlist. 
                </p>
                <p>This is a picture of me to the left.
                </p>
                <p> Anyway, the main purpose of this website is for me to categorize some of my favorite outfits while also practicing web development
                    at the same time. The collections has seen multiple updates, and will likely see more in the future. As I find good outfits of mine, 
                    and (more importantly) remember to either take a picture of myself on that day or to take a picture of the outfit on the floor, they 
                    will be added to the collection. It's honestly difficult to remember to take a picture of my outfit. 
                </p>
                <p>
                    I have a news section too which pulls new news from a few different sources I like. Pretty personal choices, just something
                    useful for me to use when eating breakfast and catching up on things and such.
                </p>
                <p> I have also gone on to start a music page in which I add and rank my favorite albums. it's a work in progress and it always will be 
                    to be honest. As I stray from the original purpose of this website, my individual page design gets a bit less cohesive if you can't tell.
                    Just tryna fit some vibes.
                </p>
                <p> There's also my youtube linked for some reason, really just to practice putting links in images. It just has baseball recruiting videos. 
                    Also Spotify!
                </p>
                <p> Added thought- eventually may get around to also using this as a system to keep track of the books I read, although this definitely has less of a practical
                    purpose as there's already stuff that does this. Oh well, we'll see.
                </p>
            </section>
            <footer class="main-footer">
                <div class="main-footer-container">
                <h3 class="name"> Vincent Crenshaw</h3>
                    <ul class="nav footer-nav">
                        <li><a href="https://www.youtube.com/channel/UCOlS6fZAJpnx8MgbAGO1ONw" target="_blank">
                            <img src="/media/Images/Youtube Logo.png"
                            width = 50
                            height = 40
                        ></a>
                        </li>
                        <li><a href="https://open.spotify.com/collection/playlists" target="_blank">
                            <img src="/media/Images/Spotify.png"
                         width = 50
                         height = 50
                            ></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </body>
</html>

