<!DOCTYPE html>
<html>
    <head>
        <title>Crenshaw's Collection | Collections</title>
        <meta name="description" content = "This is a description of my web page">
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
        <body>
            <header class="main-header">
                <nav class="nav main-nav">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/collections">COLLECTIONS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/music">MUSIC</a></li>
                        <li><a href="/news">NEWS</a></li>
                    </ul>
                </nav>
                <h1 class="name name-large">Vincent Crenshaw</h1>
            </header>
            <section class ="container content">
                <h2 class = "section-header sh2">The Finer Things</h2>
                <div class = "collection-items">
                    <div class="collection-item">
                            <span class="collection-item-title">Some May Say Preppy</span>
                        <img class= "collection-item-image" src = "/media/Images/JFKPREP.jpeg">
                        <div class="collection-item-details">
                            <a href="prep">
                                <button class= "button button-collection"> more</button>
                            </a>
                        </div>
                    </div>
                    <div class="collection-item">
                            <span class="collection-item-title">A Bit Academic</span>
                        <img class= "collection-item-image" src = "/media/Images/DAPH.jpeg">
                        <div class="collection-item-details">
                            <a href="academy">
                                <button class= "button button-collection"> more</button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class ="container content">
                <h2 class = "section-header sh2">Standard Attire</h2>
                <div class = "collection-items">
                    <div class="collection-item">
                            <span class="collection-item-title">¡Relajarse!</span>
                        <img class= "collection-item-image" src = "/media/Images/relajar.jpeg">
                        <div class="collection-item-details">
                            <a href="relajarse">
                                <button class= "button button-collection"> more</button>
                            </a>
                        </div>
                    </div>
                    <div class="collection-item">
                            <span class="collection-item-title">¡Sal!</span>
                        <img class= "collection-item-image" src = "/media/Images/sal.jpeg">
                        <div class="collection-item-details">
                            <a href="sal">
                                <button class= "button button-collection"> more</button>
                            </a>                        
                        </div>
                    </div>
                </div>
            </section>
            <footer class="main-footer">
                <div class="main-footer-container">
                <h3 class="name"> Vincent Crenshaw</h3>
                    <ul class="nav footer-nav">
                        <li><a href="https://www.youtube.com/channel/UCOlS6fZAJpnx8MgbAGO1ONw" target="_blank">
                            <img src="/media/Images/Youtube Logo.png"
                            width = 50
                            height = 40
                        ></a>
                        </li>
                        <li><a href="https://open.spotify.com/collection/playlists" target="_blank">
                            <img src="/media/Images/Spotify.png"
                         width = 50
                         height = 50
                            ></a>
                        </li>
                    </ul>
                </div>
            </footer>
        </body>
</html>

