<!DOCTYPE html>
<html>
<head>
    <title>Crenshaw's Collection</title>
    <meta name="description" content="This is a description of my web page">
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body class="music">
    <p><img src="/static/signature_1.gif"></p>
    <p>
        <strong>
            <a href="/" class="home-link">Fine, go home loser.</a>
        </strong>
    </p>
    <h2 class="music">My Favorite Albums</h2>
    <p style="color:rgb(194, 224, 251)">and some other ones too ig</p>
    <div class="music-table">
        <p><a href="{% url 'add_album' %}"><button>Add New Album</button></a></p>
        <table>
            <thead>
                <tr> 
                    <th>Cover</th>
                    <th>Artist <button onclick="mySort()">X</button> </th>
                    <th>Album <button onclick="myAlbumSort()">X</button> </th>
                    <th>Rating <button onclick="myNumSort()">X</button> </th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                <tr>
                    <td>
                        {% if album.cover %}
                        <img src="{{ album.cover.url }}" width="100">
                        {% else %}
                        No cover
                        {% endif %}
                    </td>
                    <td>{{ album.artist }}</td>
                    <td>{{ album.title }}</td>
                    <td>{{ album.rating }}</td>
                    <td colspan="3">
                        <a href="{% url 'edit_album' album.id %}" style="color:rgb(194, 224, 251)">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function mySort() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.querySelector("table");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[1];
                    y = rows[i + 1].getElementsByTagName("TD")[1];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
        function myAlbumSort() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.querySelector("table");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[2];
                    y = rows[i + 1].getElementsByTagName("TD")[2];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
        function myNumSort() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.querySelector("table");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[3];
                    y = rows[i + 1].getElementsByTagName("TD")[3];
                    if (x.innerHTML - y.innerHTML < 0) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
</body>
</html>
